# Infrastructure state
infrastructure/**/*.tfstate
infrastructure/**/*.tfstate.backup
infrastructure/**/.terraform/
infrastructure/**/.terraform.lock.hcl
infrastructure/**/*.auto.tfvars
infrastructure/**/secrets.auto.tfvars
infrastructure/**/vault-keys.json

# Secrets
*.key
*.pem
!flake.lock

# Nix
result
.direnv/

# OS
.DS_Store
