apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik-resources
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/urosevicvuk/ykube.git
    targetRevision: HEAD
    path: system-ingress/traefik
    directory:
      include: '{gateway.yaml}'
  destination:
    server: https://kubernetes.default.svc
    namespace: system-ingress
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
