# Copy this to secrets.auto.tfvars and fill in values
# DO NOT commit secrets.auto.tfvars to git

proxmox_api_url      = "https://proxmox.local:8006/api2/json"
proxmox_api_token_id = "root@pam!terraform"
proxmox_api_secret   = ""

talos_cluster_name    = "ykube"
talos_cluster_endpoint = "https://10.0.0.10:6443"
