provider:
  name: cloudflare

sources:
  - gateway-httproute

domainFilters:
  - urosevicvuk.dev

policy: sync

txtOwnerId: ykube

env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-token
        key: api-token

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi
